In [88]:
import os


cwd = os.getcwd()
input_fields={"WILD_TYPE": [], 
              "MUTATIONS":[],
              "*MDCRD_DIRECTORY": cwd, 
              "LEAP.IN_PATH" : [], 
              "MMPBSA.IN_PATH": [],
              "MMPBSA.SH_PATH": []}

with open("tmp_input_file.txt", "r") as input_file:
        for line in input_file:
                if line.startswith("#input"):
                        tmp_key = line.split() #split
                        if tmp_key[2:] != [] : #check for null input 
                                input_fields[tmp_key[1]] = tmp_key[2:] #for args of len >1 e.g. MUTATIONS

In [92]:
input_fields["MUTATIONS"][1].split(":")

['Y', '505', 'A']

In [76]:
pdbfh = input_fields["WILD_TYPE"]

In [85]:
pdbfh[0]
name_to = "ALA"

In [82]:
tmp = ["ATOM   6248  N   TYR E 505     -30.003  18.711   6.505  1.00 56.43           N"  ]
tmp

['ATOM   6248  N   TYR E 505     -30.003  18.711   6.505  1.00 56.43           N']

In [83]:
line = tmp[0]

line[17:20].strip()

'TYR'

In [84]:
line[22:26].strip()

'505'

In [87]:
new_line= line[:17] + name_to.rjust(3) + line[20:]
new_line

'ATOM   6248  N   ALA E 505     -30.003  18.711   6.505  1.00 56.43           N'

In [93]:
from pdb_splitter import mutations
pdbfh = "6m0j_noHet.pdb"
with open(pdbfh, "r") as f :
        pdb_data = f.readlines()

In [99]:
tmp_list = mutations(pdb_data, "TYR", "ALA", "505")
name_from = "TYR"
name_to = "ALA"
idx = "505"

In [103]:
counter = 0 
records = ('ATOM', 'HETATM', 'TER', 'ANISOU')
mutated_cov = [] 

for line in pdb_data:
    if line.startswith(records):
        if (line[17:20].strip() in name_from) and (line[22:26].strip() == idx):
            print(line)
            #add cases here for longer ones... 
            if counter <= 4 : #count for ALA:  
                new_line= line[:17] + name_to.rjust(3) + line[20:]
                mutated_cov.append(new_line)
                counter = counter + 1 
                continue
            else :
                continue
    #mutated_cov.append(line)

ATOM   6248  N   TYR E 505     -30.003  18.711   6.505  1.00 56.43           N

ATOM   6249  CA  TYR E 505     -31.328  19.303   6.414  1.00 57.75           C

ATOM   6250  C   TYR E 505     -32.327  18.622   7.334  1.00 55.53           C

ATOM   6251  O   TYR E 505     -33.481  19.051   7.407  1.00 56.25           O

ATOM   6252  CB  TYR E 505     -31.826  19.242   4.960  1.00 54.45           C

ATOM   6253  CG  TYR E 505     -31.221  20.327   4.104  1.00 63.28           C

ATOM   6254  CD1 TYR E 505     -29.926  20.214   3.604  1.00 61.19           C

ATOM   6255  CD2 TYR E 505     -31.937  21.485   3.813  1.00 65.55           C

ATOM   6256  CE1 TYR E 505     -29.364  21.236   2.833  1.00 63.30           C

ATOM   6257  CE2 TYR E 505     -31.389  22.497   3.050  1.00 65.84           C

ATOM   6258  CZ  TYR E 505     -30.103  22.374   2.562  1.00 65.12           C

ATOM   6259  OH  TYR E 505     -29.579  23.399   1.799  1.00 68.06           O

In [101]:
mutated_cov

['ATOM    259  N   ALA A  50     -43.418   9.786  -9.999  1.00 68.28           N  \n',
 'ATOM    260  CA  ALA A  50     -43.893   9.422 -11.324  1.00 70.60           C  \n',
 'ATOM    261  C   ALA A  50     -42.866   8.566 -12.052  1.00 69.30           C  \n',
 'ATOM    262  O   ALA A  50     -43.212   7.557 -12.673  1.00 67.75           O  \n',
 'ATOM    263  CB  ALA A  50     -44.224  10.668 -12.151  1.00 71.99           C  \n']

In [ ]:
if line.startswith(records):
    if (line[17:20].strip() in name_from) and (line[22:26].strip() == idx):
        #add cases here for longer ones... 
        if (counter <= 4) and (line[16] == "A" or " " ): #count for ALA:  
            new_line= line[:16] + name_to.rjust(4) + line[20:]
            mutated_ligand.append(new_line)
            counter = counter + 1 
            continue
        else :
            continue
#mutated_ligand.append(line)

In [6]:
line = "ATOM   6155  CA AGLN E 493     -39.920  30.982   7.452  0.50 62.36           C "
name_from = "GLN"
line[16:20].strip() in name_from or

False

In [24]:
name_to="ALA"
print(line[:16] +name_to.rjust(4) + line[20:])
print(line[:17])

ATOM   6155  CA  ALA E 493     -39.920  30.982   7.452  0.50 62.36           C
ATOM   6155  CA A

In [22]:
(line[16] == "A" or line[16]== " ")

True