In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("single_mut_effects.csv")

In [4]:
df

,site_RBD,site_SARS2,wildtype,mutant,mutation,mutation_RBD,bind_lib1,bind_lib2,bind_avg,expr_lib1,expr_lib2,expr_avg
0,1,331,N,A,N331A,N1A,-0.05,-0.02,-0.03,-0.14,-0.08,-0.11
1,1,331,N,C,N331C,N1C,-0.08,-0.10,-0.09,-1.56,-0.97,-1.26
2,1,331,N,D,N331D,N1D,0.00,0.07,0.03,-0.75,-0.12,-0.44
3,1,331,N,E,N331E,N1E,0.02,-0.02,0.00,-0.39,-0.24,-0.31
4,1,331,N,F,N331F,N1F,-0.03,-0.16,-0.10,-0.83,-0.57,-0.70
...,...,...,...,...,...,...,...,...,...,...,...,...
4216,201,531,T,T,T531T,T201T,0.00,0.00,0.00,0.00,0.00,0.00
4217,201,531,T,V,T531V,T201V,0.03,-0.02,0.01,-0.07,-0.05,-0.06
4218,201,531,T,W,T531W,T201W,0.02,-0.06,-0.02,-0.13,-0.04,-0.08
4219,201,531,T,Y,T531Y,T201Y,0.00,-0.03,-0.01,-0.03,-0.08,-0.05
4220,201,531,T,*,T531*,T201*,NaN,NaN,NaN,-4.59,-4.51,-4.55

In [5]:
#index where we mut to A
df_idx_A = (df["mutant"] == "A")
df[df_idx_A]

,site_RBD,site_SARS2,wildtype,mutant,mutation,mutation_RBD,bind_lib1,bind_lib2,bind_avg,expr_lib1,expr_lib2,expr_avg
0,1,331,N,A,N331A,N1A,-0.05,-0.02,-0.03,-0.14,-0.08,-0.11
21,2,332,I,A,I332A,I2A,0.02,-0.02,0.00,0.02,-0.02,0.00
42,3,333,T,A,T333A,T3A,-0.04,0.01,-0.01,-0.44,-0.29,-0.37
63,4,334,N,A,N334A,N4A,-0.01,-0.05,-0.03,-0.15,-0.09,-0.12
84,5,335,L,A,L335A,L5A,0.03,0.05,0.04,0.00,-0.03,-0.01
...,...,...,...,...,...,...,...,...,...,...,...,...
4116,197,527,P,A,P527A,P197A,-0.03,0.07,0.02,0.26,0.25,0.25
4137,198,528,K,A,K528A,K198A,0.02,-0.06,-0.02,-0.03,0.18,0.08
4158,199,529,K,A,K529A,K199A,0.00,0.00,0.00,0.76,0.01,0.38
4179,200,530,S,A,S530A,S200A,-0.01,0.00,0.00,0.39,-0.05,0.17
4200,201,531,T,A,T531A,T201A,-0.01,0.01,0.00,-0.01,-0.03,-0.02

In [6]:
#the mutations we want to do : 
muts = df["mutation"][df_idx_A]

get all muts in the format we want for simple amino acids:

In [7]:
simple_muts= [] 
D_amino = ["V", "I", "L", "M" , "F", "Y", "W"]
for mut in muts : 
    if mut[0] in D_amino :
        mut_str = mut[0] +":" + mut[1:-1] +":" + mut[-1]
        simple_muts.append(mut_str)

start with the D. amino acids

In [8]:
len(simple_muts)

68

80 simple muts to do.

In [9]:
#done 1, 7. 
for i in range(62,68) : 
    print(f"{simple_muts[i]}", end=" ")

V:512:A L:513:A F:515:A L:517:A L:518:A V:524:A

all muts

In [10]:
all_muts= [] 
for mut in muts : 
    mut_str = mut[0] +":" + mut[1:-1] +":" + mut[-1]
    all_muts.append(mut_str)

check len

In [11]:
len(all_muts)

201

get all muts in groups of 25: 
should be 25 muts per node w/ current settings

In [12]:
import math

for our tmp input file gen

In [15]:
start = 0
stop = 25
itts = math.ceil(len(all_muts)/25)
for i in range(0,itts):
    for j in range(start,stop) : 
        if (all_muts[j][0] != "A") and (all_muts[j][0] != "G"):
            print(f"{all_muts[j]}", end=" ")
    start = stop
    stop = min(stop+25, len(all_muts))
    print()

N:331:A I:332:A T:333:A N:334:A L:335:A C:336:A P:337:A F:338:A E:340:A V:341:A F:342:A N:343:A T:345:A R:346:A F:347:A S:349:A V:350:A Y:351:A W:353:A N:354:A R:355:A
K:356:A R:357:A I:358:A S:359:A N:360:A C:361:A V:362:A D:364:A Y:365:A S:366:A V:367:A L:368:A Y:369:A N:370:A S:371:A S:373:A F:374:A S:375:A T:376:A F:377:A K:378:A C:379:A Y:380:A
V:382:A S:383:A P:384:A T:385:A K:386:A L:387:A N:388:A D:389:A L:390:A C:391:A F:392:A T:393:A N:394:A V:395:A Y:396:A D:398:A S:399:A F:400:A V:401:A I:402:A R:403:A D:405:A
E:406:A V:407:A R:408:A Q:409:A I:410:A P:412:A Q:414:A T:415:A K:417:A I:418:A D:420:A Y:421:A N:422:A Y:423:A K:424:A L:425:A P:426:A D:427:A D:428:A F:429:A T:430:A
C:432:A V:433:A I:434:A W:436:A N:437:A S:438:A N:439:A N:440:A L:441:A D:442:A S:443:A K:444:A V:445:A N:448:A Y:449:A N:450:A Y:451:A L:452:A Y:453:A R:454:A L:455:A
F:456:A R:457:A K:458:A S:459:A N:460:A L:461:A K:462:A P:463:A F:464:A E:465:A R:466:A D:467:A I:468:A S:469:A T:470:A E:471:A I:472:A Y:473:A Q:474:A S:477:A T:478:A P:479:A C:480:A
N:481:A V:483:A E:484:A F:486:A N:487:A C:488:A Y:489:A F:490:A P:491:A L:492:A Q:493:A S:494:A Y:495:A F:497:A Q:498:A P:499:A T:500:A N:501:A V:503:A Y:505:A
Q:506:A P:507:A Y:508:A R:509:A V:510:A V:511:A V:512:A L:513:A S:514:A F:515:A E:516:A L:517:A L:518:A H:519:A P:521:A T:523:A V:524:A C:525:A P:527:A K:528:A K:529:A S:530:A
T:531:A